:root{

	/* COLORS */

		/* PRIMARY */

	--strongCyan: hsl(171, 66%, 44%);
	--lightBlue: hsl(233, 100%, 69%);

		/* NEUTRAL */

	--darkGrayishBlue: hsl(210, 10%, 33%);
	--grayishBlue: hsl(201, 11%, 66%);

	/* FONT */

	--baiJamjuree: 'Bai Jamjuree', sans-serif;


}

/* GLOBAL */

*{
	margin: 0 auto;
}

html{
	box-sizing: border-box;
	font-size: 62.5%;
}

body{
	font-family: var(--baiJamjuree);
}

h1{
	font-size: 4.5rem;
	margin: 0 auto;
	color: var(--darkGrayishBlue);
}

h2{
	font-size: 3.5rem;
	color: var(--darkGrayishBlue);
}

h3{
	font-size: 2.5rem;
	color: var(--darkGrayishBlue);
}

p, .btn{
	font-size: 1.8rem;
	color: var(--grayishBlue);
	max-width: 65rem;
}


/* UTILITIES */

/* HEADER */

.header{
	background-image: url('../img/bg-header-desktop.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 70rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	text-align: center;
	line-height: 1.5;
}



.buttons{
	display: flex;
	gap: 2rem;
}

.btn{
	padding: 1.2rem 3rem ;
	border-radius: 5rem;
	cursor: pointer;
	transition: all .3s ease-in;
}

.btn:hover{
	opacity: .7;
}

.ios{
	background-color: var(--strongCyan);
	color: #FFF;
}

.mac{
	background-color: var(--lightBlue);
	color: #FFF;
}

/* SNIPPETS SECTION */

.snippets{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-bottom: 12rem;
}

.snippets p{
	text-align: center;
	line-height: 1.5;
}

.snippets_flexbox{
	margin-top: 5rem;
	display: flex;
	align-items: center;
}

.snippets__img{
	position: relative;
	left: -14rem;
}

.snippets__info{
	max-width: 40rem;
	text-align: left;
}

.snippets__info h3{
	margin-top: 6rem;
}

.snippets__info h3:first-of-type{
	margin-top: 0;
}

.snippets__info p{
	text-align: left;
	margin-top: 1rem;
}

/* ACCESS */

.access{
	display: flex;
	flex-direction: column;
	gap: 3rem;
	text-align: center;
	padding-bottom: 7rem;
	line-height: 1.7;
}

/* WORKFLOW */

.workflow{
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding-bottom: 10rem;
}

.workflow__cards{
	margin-top: 4rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 4rem;
	text-align: center;
	line-height: 1.7;
	max-width: 90%;
}

.card h3{
	margin-bottom: 2rem;
}

/* BRANDS */

.brands{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	max-width: 90%;
	padding: 3rem 0;
	margin-bottom: 10rem;
}

/* DOWNLOAD SECTION */

.download{
	display: flex;
	flex-direction: column;
	gap: 3rem;
	line-height: 1.7;
	padding-bottom: 14rem;
	text-align: center;
}

.buttons{
	margin-top: 2rem;
}

/* FOOTER */

.footer{
	display: flex;
	align-items: center;
	height: 18rem;
	background-color: #F5F6F8;
}

.clipboard-logo img{
	max-width: 6rem;
}

.links{
	display: flex;
	gap: 10rem;
	margin: 0;
}

.links-mobile{
	display: none;
}

.link{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.link p{
	margin: 0;
	color: var(--darkGrayishBlue);
	cursor: pointer;
}

.link p:hover{
	color: var(--strongCyan);
}

.social-icons{
	display: flex;
	gap: 2.5rem ;
}

.fab{
	font-size: 3rem;
	transition: all .3s ease-in;
	color: var(--darkGrayishBlue);
}

.fab:hover{
	color: var(--strongCyan);
}

/* RESPONSIVE DESIGN */





/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width: 1199px) and (min-width: 992px){


.snippets__img{
	position: relative;
	left: -22rem;
}

.snippets__info{
	position: relative;
	right: 10rem;
}



}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width: 991px) and (min-width: 768px){


.snippets_flexbox{
	display: flex;
	flex-direction: column;
	gap: 10rem;
}

.snippets__img{
	left: 0;
}

.snippets__img img{
	max-width: 60rem;
}

.access img{
	max-width: 90%;
}

.brands{
	display: flex;
	flex-direction: column;
	gap: 10rem;
}

.footer{
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width: 767px){

	/* HEADER */

.header{
	background-image: url("../img/bg-header-mobile.png");
	background-repeat: no-repeat;
	background-position: left -20rem top 0;
}	

.clipboard-logo-header img{
	width: 10rem;
}

h1{
	font-size: 3rem;
}

p{
	font-size: 1.7rem;
}

h2{
	font-size: 2.5rem;
	text-align: center;
}

.buttons{
	display: flex;
	flex-direction: column;
}

	/* SNIPPETS SECTION */


.snippets p{
	max-width: 85%;
}

.snippets_flexbox{
	display: flex;
	flex-direction: column;
}

.snippets__img{
	left: 0;
}

.snippets__img img{
	max-width: 30rem;
}

.snippets__info{
	padding-top: 7rem;
	text-align: center;
}

.snippets__info p{
	text-align: center;
}

/* ACCESS SECTION */

.access p{
	max-width: 90%;
	line-height: 1.7;
}

.access img{
	max-width: 90%;
}

/* WORKFLOW SECTION */

.workflow p{
	text-align: center;
}

.workflow__cards{
	display: flex;
	flex-direction: column;
}

/* BRANDS */

.brands{
	display: flex;
	flex-direction: column;
	gap: 6rem;
}

/* DOWNLOAD SECTION */

.download{
	max-width: 90%;
}

/* FOOTER */

.footer{
	display:flex;
	flex-direction: column;
	gap: 4rem;
	height: auto;
	padding: 6rem 0;
}

.links{
	display: none;
}

.links-mobile{
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.links-mobile p{
	color: var(--darkGrayishBlue);
}

.links-mobile p:hover{
	color: var(--strongCyan);
}

.social-icons{
	gap: 4rem;
}


}